attrs==19.3.0
click==7.1.2
Flask==1.1.2
Flask-API==2.0
Flask-Script==2.0.6
flask-swagger-ui==3.25.0
Flask-Testing==0.8.0
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.5.2
more-itertools==8.2.0
packaging==20.3
pathlib2==2.3.5
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest==5.4.1
pytest-flask==1.0.0
six==1.14.0
wcwidth==0.1.9
Werkzeug==1.0.1
zipp==1.2.0
